<% @project.tasks.each do |t| %> 
    Task Assigned To:<%= t.user.first_name %> <br/>
        <% if t.completed? %>    
            <strike><%= t.content%></strike>                 
        <% else %>           
            <%= t.content%>          
        <% end %>
    
        <div class="links">         
            <% if @project.status == "active" && current_user == t.user %>            
                <% if !t.completed?  %>    
                    <%= link_to "Mark as Completed", complete_project_task_path(@project, t.id) , method:"patch" %>
                <% end %>            
                    <%= link_to "Delete Task", project_task_path(@project, t.id) , method:"delete",  data: { confirm: "Are you sure, you want to delete this task?" } %>
            <% end %>       
        </div>              
    <% end %>
    


 