<% if @user.admin %>
<p>Owner</p>
<% end %>
Name:
<%= @user.first_name %> <%= @user.last_name %>

Email:
<%= @user.email %>

<p><%= link_to 'Edit', edit_user_path(@user) %></p>

<%= link_to 'Projects Dashboard', projects_path %>