

<h1>Projects Details Show Page</h1>

<p>
<%= @project.name %>
<%= @project.description %>
</p>

  <div id="todo_items_wrapper">
      <%= render "tasks/task" %>
      <% if @project.status == "active" %>
        Create Task:
          <div id="form">
          <%= render "tasks/form" %>
          </div>              

      <% end %>
  </div>


<% if current_user.admin %>            
  <p><%= link_to "Edit Project", edit_project_path(@project) %></p>
<% end %>
<p><%= link_to "Back", projects_path%></p>