
<h1 class="todo_list_title">
    <%= @project.name %>
</h1>    
    <h2 class="todo_list_sub_title">  
        <%= @project.description %>
    </h2>
    <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <div class="index_row clearfix">
      <%= render "tasks/task" %>    
      <% if @project.status == "active" %>
        Create Task:
          <div class="forms">
            <%= render "tasks/form" %>
          </div>
          <% end %>
      
  
  </div>

  <div class="links">

        <% if current_user.admin %>            
        <p><%= link_to "Edit Project", edit_project_path(@project) %></p>
        <% end %>
    <%= link_to "Back", projects_path%>
</div>
