
<% if flash[:notice] %>
<div id="notice"><%= flash[:notice] %></div>
<% end %>

<p>
    <h1 class="todo_list_title">
        <%= @project.name %>
    </h1>    
    <h2 class="todo_list_sub_title">  
        <%= @project.description %>
    </h2>
</p>
<div class="links">
    # <%= link_to "Show Completed Tasks", completed_project_path(@project) %>
    <%= link_to "Show All Tasks", alltasks_project_path(@project), class: "project_tasks" %>
</div>

<div id="todo_items_wrapper">  
<div class="projecttasks">
</div>    
    <% if @project.status == "active" %>
    Create Task:
        <div class="forms">
            <%= render "tasks/form" %>
        </div>
    <% end %>
</div>


<div class="links">
    <% if current_user.admin %>            
        <%= link_to "Edit Project", edit_project_path(@project) %> ||
    <% end %>
     <%= link_to "Back", projects_path%>
</div>
